body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #3e2723;
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #3e2723;
  font-weight: 500;
}

.cart-icon {
  cursor: pointer;
  font-size: 20px;
  color: #3e2723; /* Marrón oscuro para que se vea */
  font-weight: bold;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url('img/LogoEmpresa.jpg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.45);
  z-index: -1;
}

.modal-content {
  background: #fffdf9;
  color: #3e2723;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  margin: 100px auto;
  padding: 30px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}


/* Productos */
.productos {
  padding: 100px 40px;
  text-align: center;
  background: #f6f3f3;
}

.productos-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.producto {
  background: rgb(250, 250, 250);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 250px;
}

button.add-to-cart {
  background: #6b4226;
  color: rgb(9, 9, 9);
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

button.add-to-cart:hover {
  background: #8b5e3c;
}

/* Modal carrito */
.modal {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}



.close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 28px;
  cursor: pointer;
}

#checkoutButton {
  background: #6b4226;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

#checkoutButton:hover {
  background: #8b5e3c;
}
